*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #2c2b2b;
    color:#202020;
    font-family: 'Roboto', sans-serif;
}

h1{
    -webkit-font-smoothing: antialiased;
    padding-top: 3rem;
}
img{
    max-width: 100%;
}


.pagination{
    text-align: center;
    padding: 0;
    margin: 1.5rem 0px 0px 0px;
}

.footer-content{
    background-color: #8C072B;
}

footer{
    color:#fff;
    text-align: center;
    padding: 1.275rem;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/* small */
@media screen and (min-width: 576px ){
    .pokedex-list{
    
        grid-template-columns: 1fr 1fr!important;
          }
          .btn-more{
            width: 200px;
        }
  
}
/* medium */
@media screen and (min-width: 768px ){

    
    .content{
        padding: 3rem;
        
    }
    .pokedex-list{
        grid-template-columns: 1fr 1fr 1fr!important;
      }
}
/* large */
@media screen and (min-width: 992px ){
    body{
        background: url('./assets/img/bg-pokemon.jpg') fixed;
    }
    .content {
        margin: 0 auto;
        padding: 5rem;
        width: 980px;
        margin-top: 1rem;

    }
   
     .pokedex-list{
        grid-template-columns: 1fr 1fr 1fr 1fr!important;
      }
      footer{
        width: 980px;
        margin: 0 auto;
    }
    .header{
        padding: 0.5rem!important;
    }
}
/* extra large */
@media screen and (min-width: 1200px ){
   
   
.pokemon-content{
    width: 980px!important;
    margin: 0 auto!important;
}

  
}